# Copyright (c) 2024 Lorenzo Pastrana
# SPDX-License-Identifier: MIT

if SHIELD_SPLIT_LITTLE_60_DONGLE

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_KEYBOARD_NAME
    default "Split Little 60"

config ZMK_SPLIT
    default y

config ZMK_USB
    default y

endif

if SHIELD_SPLIT_LITTLE_60_LEFTC

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_KEYBOARD_NAME
    default "Split Little 60"

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif

if SHIELD_SPLIT_LITTLE_60_LEFT

config ZMK_KEYBOARD_NAME
    default "Split Little 60"

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif

if SHIELD_SPLIT_LITTLE_60_RIGHT

config ZMK_KEYBOARD_NAME
    default "Split Little 60"

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
