#include <physical_layouts.dtsi>

/ {
    oxomoxo_split_little_60_layout: oxomoxo_split_little_60_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        keys  //                     w   h    x    y     rot    rx    ry
// Row 1
// Left
// Left
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            = <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   50       0     0     0>
            , <&key_physical_attrs 100 100  300   50       0     0     0>
            , <&key_physical_attrs 100 100  400   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  600   50       0     0     0>
// Right
            , <&key_physical_attrs 100 100 1050   50       0     0     0>
            , <&key_physical_attrs 100 100 1150   50       0     0     0>
            , <&key_physical_attrs 100 100 1250   50       0     0     0>
            , <&key_physical_attrs 100 100 1350   50       0     0     0>
            , <&key_physical_attrs 100 100 1450   50       0     0     0>
            , <&key_physical_attrs 100 100 1550   50       0     0     0>
            , <&key_physical_attrs 100 100 1650   50       0     0     0>
// Row 2
// Left
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  100  150       0     0     0>
            , <&key_physical_attrs 100 100  200  150       0     0     0>
            , <&key_physical_attrs 100 100  300  150       0     0     0>
            , <&key_physical_attrs 100 100  400  150       0     0     0>
            , <&key_physical_attrs 100 100  500  150       0     0     0>
            , <&key_physical_attrs 100 100  600  150       0     0     0>
// Right
            , <&key_physical_attrs 100 100 1050  150       0     0     0>
            , <&key_physical_attrs 100 100 1150  150       0     0     0>
            , <&key_physical_attrs 100 100 1250  150       0     0     0>
            , <&key_physical_attrs 100 100 1350  150       0     0     0>
            , <&key_physical_attrs 100 100 1450  150       0     0     0>
            , <&key_physical_attrs 100 100 1550  150       0     0     0>
            , <&key_physical_attrs 100 100 1650  150       0     0     0>
// Row 3
// Left
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100  200  250       0     0     0>
            , <&key_physical_attrs 100 100  300  250       0     0     0>
            , <&key_physical_attrs 100 100  400  250       0     0     0>
            , <&key_physical_attrs 100 100  500  250       0     0     0>
            , <&key_physical_attrs 100 100  600  250       0     0     0>
// Right
            , <&key_physical_attrs 100 100 1050  250       0     0     0>
            , <&key_physical_attrs 100 100 1150  250       0     0     0>
            , <&key_physical_attrs 100 100 1250  250       0     0     0>
            , <&key_physical_attrs 100 100 1350  250       0     0     0>
            , <&key_physical_attrs 100 100 1450  250       0     0     0>
            , <&key_physical_attrs 100 100 1550  250       0     0     0>
            , <&key_physical_attrs 100 100 1650  250       0     0     0>
// Row 4
// Left
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 100 100  200  350       0     0     0>
            , <&key_physical_attrs 100 100  300  350       0     0     0>
            , <&key_physical_attrs 100 100  400  350       0     0     0>
            , <&key_physical_attrs 100 100  500  350       0     0     0>
            , <&key_physical_attrs 100 100  600  350       0     0     0>
// Right
            , <&key_physical_attrs 100 100 1050  350       0     0     0>
            , <&key_physical_attrs 100 100 1150  350       0     0     0>
            , <&key_physical_attrs 100 100 1250  350       0     0     0>
            , <&key_physical_attrs 100 100 1350  350       0     0     0>
            , <&key_physical_attrs 100 100 1450  350       0     0     0>
            , <&key_physical_attrs 100 100 1550  350       0     0     0>
            , <&key_physical_attrs 100 100 1650  350       0     0     0>
// Thumb Row
            , <&key_physical_attrs 100 100  450  450       0     0     0>
            , <&key_physical_attrs 100 100  550  450       0     0     0>
            , <&key_physical_attrs 100 100  650  450       0     0     0>
            , <&key_physical_attrs 100 100 1100  450       0     0     0>
            , <&key_physical_attrs 100 100 1200  450       0     0     0>
            , <&key_physical_attrs 100 100 1300  450       0     0     0>
            ;
    };
};
